<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<property name="logpath" value="/app/logs/venue-management/" />
	
	<!-- Console appender -->
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] |-%-5level %logger{0}-
				%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="COMMON_ROLLER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logpath}/venueManagement.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logpath}/venueManagement-%d.zip
			</fileNamePattern>
			<maxHistory>15</maxHistory>
			<totalSizeCap>10MB</totalSizeCap>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] |-%-5level %logger{0}-
				%msg%n</pattern>
		</layout>
	</appender>

	<appender name="HTTP_ROLLER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logpath}/venueManagement-http.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logpath}/venueManagement-http-%d.zip
			</fileNamePattern>
			<maxHistory>15</maxHistory>
			<totalSizeCap>1MB</totalSizeCap>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] |-%-5level %logger{0}-
				%msg%n</pattern>
		</layout>
	</appender>


	<root level="error">
		<appender-ref ref="COMMON_ROLLER" />
	</root>

</configuration>